.body{
  display: flex;
  flex-direction: row;
}
.container {
  background-image: linear-gradient(rgba(232, 226, 219, 0.7), rgba(232, 226, 219, 0.7)), url("../images/local_dishes/food 5.jpg");
}
.orders {
  width: 25%;
  border: 1px solid black;
  height: auto;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  margin: 0 10px 10px 10px;
  box-shadow: 2px 2px 2px #888888;
}

.orderform {
  width: 75%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: 3%;
}


input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 18px;
}

input[type="text"]:focus {
  background-color: #ddd;
}

.orderform .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 1;
}

.col {
  width: 20%;
  text-align: left;
  padding: 10px;
}

.col img {
  width: 100%;
  height: 150px;
  border-radius: 20px;
}

#but img {
  height: 15px;
  width: 15px;
  float: left;
}

button {
  outline: none;
  background: rgb(233, 120, 37);
  color: white;
  font-size: 16px;
  padding: 2px;
  margin-left: 4px;
  min-width: 80px;
  height: 33px;
   border: 1px solid white;
}

.col h4 {
  line-height: 1.5;
}

#price {
  border: 1px solid #fff;
  background: rgb(233, 120, 37);
  padding: 3px;
  float: left;
}

#foodItems li a {
  color: black;
  text-decoration: underline;
}

#foodItems li a:hover {
  color: orange;
}



@media screen and (max-width: 320px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .col{
    text-align: center;
    width: 100%;
  }

  .body {
    display: flex;
    flex-direction: column;
  }

  .orders{
    width: 90%;
    margin: 0px auto;
  }

  .orderform{
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) and (min-width: 321px) {
  .row {
    display: flex;
    flex-direction: row;
  }

  .col {
    width: 50%;
    padding: 5px;
  }

  .col img {
    width: 100%;
    height: 190px;
    border-radius: 20px;
  }

  .body {
    display: flex;
    flex-direction: column;
  }

  .orders{
    width: 80%;
    margin: 0px auto;
  }

  .orderform{
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) and (min-width: 599px) {
  .row {
    display: flex;
    flex-direction: row;
  }

  .col {
    width: 33%;
    padding: 5px;
  }

  .col img {
    width: 100%;
    height: 190px;
    border-radius: 20px;
  }

  .body {
    display: flex;
    flex-direction: column;
  }

  .orders{
    width: 80%;
    margin: 0px auto;
  }

  .orderform{
    width: 100%;
    margin-left: 0;
  }
}
