@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Mukta');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#loadingOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgb(224, 108, 65, 0.8);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  font-size: 20px;
}

#loading {
  z-index: 1;
  border-radius: 50%;
}

.loadingText {
  width: 70%;
  align-self: center;
  text-align: center;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(rgba(232, 226, 219, 0.7), rgba(232, 226, 219, 0.7)), url('../images/local_dishes/food 4.jpg');
  background-position: center center;
  background-size: cover;
  font-family: 'Mukta', sans-serif;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.icons {
  width: 80px;
  height: 80px;
}

#dialogoverlay {
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: grey;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#dialogbox {
  display: none;
  position: fixed;
  background: #fff;
  border-radius: 7px;
  width: 450px;
  min-height: 200px;
  z-index: 10;
  top: 28%;
  left: 35%;
  box-shadow: 2px 2px 7px 4px black;
  animation-name: dialogbox;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes dialogbox {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#dialoghead {
  background: #666;
  font-size: 19px;
  padding: 10px;
  color: #ccc;
  border-radius: 7px 7px 0 0;
}

#dialogbody {
  text-align: center;
  background: #FFF;
  font-size: 19px;
  padding: 35px;
  animation-name: dialogbody;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes dialogbody {
  0% {background-color: #fff}
  50% {background-color: pink}
  100% {background-color: rgb(224, 108, 65);}
}

 #dialogfooter {
  background: #666;
  padding: 10px;
  color: #ccc;
  text-align: right;
}

@media screen and (max-width: 600px) {
  #dialogbox {
    width: 70%;
    min-height: 200px;
    z-index: 10;
    left: 15%;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  #dialogbox {
    width: 60%;
    min-height: 200px;
    z-index: 10;
    left: 20%;
  }
}

.header1, .footer {
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
}

/* Logo Styling */
.logo-row {
  text-align: center;
}

.logo {
  height: 100px;
  width: 100px;
  text-align: center;
}


.hero {
  position: absolute;
  top: 11%;
  text-align: center;
  width: 100%;
  color: black;
}

.hero h3 {
  font-size: 18px;
  /* margin-top: 25px; */
  font-family: 'Lobster', cursive;
}

/* Header Styling, Links */
.header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: black;
}

.header ul {
  width: 100%;
  text-align: center;
}
.header li {
  list-style-type: none;
  display: inline-block;
  padding:10px 20px 5px 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: centaur;
}

ul a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  transition-property: all;
  transition-timing-function: ease-in;
}

ul a:hover {
  border-bottom: 2px solid rgb(224, 108, 65);
  color: white;
  padding: 8px 0;
}

.profile {
  width: 80%;
  margin: 0 auto;
}
table {
  margin-top: 5px;
    padding: 5px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: #f2f2f2
}

tbody, th, td {
    text-align: left;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Mukta', sans-serif;
}

.profile {
  text-align: center;
}

.btn {
  width: 200px;
  padding: 5px;
  font-size: 20px;
  font-family: centaur;
  background:rgb(224, 108, 65);
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
  transition-duration: 1s;
}

.btn:hover {
  background: white;
}

.close {
  background-color: rgb(224, 108, 65);
  color: white;
  padding: 5px 10px;
  margin-bottom: 4px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 5px;
  margin-left: 5px;
}

.close:hover {
  opacity: 1;
}
#error {
  display: none;
  color: red;
}
.btnorder {
  width: 150px;
  padding: 3px;
  font-size: 20px;
  font-family: centaur;
  background:white;
  border: 2px solid white;
  border-radius: 3px;
  outline: none;
  transition-duration: 1s;
}

.btnorder:hover {
  background: rgb(224, 108, 65);
}
.footer {
  width: 100%;
  background: rgb(40, 43, 46);
  color: white;
  text-align: center;
}

.list {
  margin: 0;
  float: left;
}
.list a {
  color: white;
}

.list li {
  display: inline;
  padding-left: 5px;
}

.socials {
  margin: 0;
  float: right;
  padding-right: 20px;
}

.copy {
  clear: both;
}

.socials img {
  height: 30px;
  width: 30px;
}

.gifImage {
  display: none;
  background: inherit;
  border-radius: 50%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .socials {
    width: 100%;
  }

  .container {
    min-height: 139vh;
  }
  .header li {
    width: 100%;
    text-align: left;
    padding:0;
    margin: 0;
    display: inline;
  }

  .list {
    width: 100%;
  }

  .address p {
    padding: 5px;
    width: 100%;
  }

  .copy p {
    padding: 5px;
    width: 100%;
  }

  .list ul {
    width: 100%;
    padding: 5px;
  }

  .header ul {
    width: 100%;
    padding: 5px;
  }

  .profile {
    text-align: center;
  }

  .hero {
    position: absolute;
    top: 8%;
  }

  #orderTable table thead{
    display: none;
  }

  #orderTable table tr {
    display: block;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    border-radius: 5px;
  }

  #orderTable table td {
    display: block;
    text-align: right;
    min-height: 14px;
  }
  #orderTable table {
    width: 100%;
  }

  #orderTable table td::before {
    content: attr(colname);
    float: left;
  }

  .profile {
    width: 90%;
    left: 5%;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    position: absolute;
    top: 8%;
  }
}
