@import url('https://fonts.googleapis.com/css?family=Mukta');
body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  position: absolute;
  min-height: 55px;
  width: 100%;
  background-color: #999;
  z-index: 4;
}

.logo {
  width: 60px;
  height: 60px;
  opacity: 2;
  float: right;
  padding-right: 3px;
}

.header h2 {
  float: right;
  padding-right: 25px;
}

.side-nav {
  position: absolute;
  width: 60px;
  background-color: #666;
  text-align: center;
  height: 100vh;
  z-index: 3;
  padding-top: 60px;
}

.side-nav ul li span:nth-child(2) {
  display: none;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-nav ul li {
  padding: 20px 10px;
  border-bottom: 1px solid #333;
}

.side-nav ul li a {
  color: #fff;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.danger {
  background: red;
  border-color: red;
  color: white;
}

.orders {
  display: none;
  overflow-x: auto;
  width: 100%;
}

.payment_made {
  width: 40%;
  margin: 0 auto;
  display: none;
}

.main-content {
  position: absolute;
  width: 70%;
  min-height: 80%;
  top: 70px;
  left: 85px;
  padding: 0;
}

#message img{
  height: 30px;
  width: 30px;
}

.head {
  background: rgb(101, 124, 106);
  border: 1px solid black;
  text-align: center;
  padding: 0;
}

.people {
  width: 40%;
  margin: 0 auto;
  min-height: 300px;
  background: white;
}

.body {
  text-align: center;
}

.add-food input[type="text"]{
  width: 50%;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 2px 2px 4px black;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 5px;
  outline: none;
}

.add-food{
  display: none;
  width: 100%;
}
.add-food label{
  font-size: 18px;
  font-family: centaur;
}

.add-food input[type="submit"]{
  height: 30px;
  border-radius: 4px;
  background: #fff;
  outline: none;
}

.add-food #list_of_food{
  margin-top: 30px;
}

#list_of_food ul{
  list-style-type: none;
}

#list_of_food li{
  display: inline;
  width: 30%;
  margin-right: 20%;;
}

#list_of_food ul:nth-child(even){
  background: grey;
}


@media screen and (min-width: 600px) {
  .side-nav {
    width: 80px;
    text-align: center;
  }
  .side-nav ul li span:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .side-nav {
    width: 150px;
    text-align: left;
  }
  .side-nav ul li span:nth-child(2) {
    display: inline;
  }

  .main-content{
    left: 15%;
  }
}
