.orderform{
  width: 80%;
  margin: 0 auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

input[type="text"]{
  width: 100%;
  margin: 0 auto;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
}

input[type="text"]:focus{
  background-color: #ddd;
}
#myTable input[type="text"]{
  width: 50%;
  border: 1px solid rgb(224, 108, 65)
}

.orderform input[type="submit"]{
  width: 100%;
  margin-top: 10px;
}
